* {
  box-sizing: border-box;
  /* background-color: #fffbf5; */
}

body {
  margin: 0;
  padding: 20px;
  font-size: 16px;
}

.heroSection {
  display: flex;
  margin: 0;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.profilePhoto {
  width: 400px;
  height: 400px;
  border-radius: 50%; /* Use percentage for a perfect circle */
  object-fit: cover;
}

.text {
  padding-right: 150px;
}

.designation {
  font-family: "IBM Plex Mono", monospace;
  font-size: 31px;
  font-weight: 400;
  margin: 10px 0; /* Add margin for spacing above and below */
}

.heading {
  font-family: "Bad Script", cursive;
  font-size: 50px;
  display: inline; /* Keeps the text inline */
}

.headingColour {
  color: #0077b6;
  display: inline; /* Keeps the color styling within the heading */
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 20px 0; /* Add margin for spacing above and below */
}

.buttons {
  height: 55px;
  width: 200px;
  border-radius: 1000px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.buttonContainer {
  padding-top: 20px; /* Space above the buttons */
  display: flex; /* Use flexbox for alignment */
  gap: 20px; /* Space between buttons */
}

.projectButton {
  border: solid #0077b6;
  color: #0077b6;
}

/* Media Query for Mobile Devices for hero section */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column-reverse; /* Stack elements vertically */
    height: auto; /* Remove fixed height */
    text-align: center; /* Center text */
  }

  .text {
    padding-right: 0; /* Remove right padding */
  }

  /* Ensure profile photo is a perfect circle */
  .profilePhoto {
    width: 200px; /* Set width */
    height: 200px; /* Set height equal to width for a circle */
    border-radius: 50%; /* Create a circle */
    object-fit: cover; /* Ensure the image covers the container without stretching */
    display: block; /* Remove extra spacing */
    margin: 0 auto; /* Center the image */
  }

  .buttonContainer {
    padding-top: 20px; /* Space above buttons */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.bad-script-header {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  color: #01479f;
  margin: 50px 0 0;
  font-size: 48px;
  line-height: 1.2;
  margin-inline-start: 150px;
}

.inter-descrp {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #404040;
  margin: 10px 0 40px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.main-container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.card-abt {
  padding: 20px;
  border-radius: 8px;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  color: #01479f;
  margin-bottom: 15px;
}

.inter-para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: justify;
  color: #606060;
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 16px;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  body {
    padding: 40px;
  }

  .bad-script-header {
    font-size: 56px;
    text-align: left;
    margin-left: 20px;
  }

  .inter-descrp {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .inter-para {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .bad-script-header {
    font-size: 64px;
  }

  .card-container {
    gap: 60px;
  }

  .inter-para {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    padding: 0;
  }
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.contact-list li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.contact-info {
  flex-grow: 1;
}

.contact-info p {
  font-size: 1rem;
  color: #2a2a2a;
}

.contact-info span {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  color: #007acc;
  margin-top: 5px;
}

.contact-button {
  background-color: #007acc;
  color: white;
  padding: 10px 20px;
  border-radius: 1000px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: 0.3s ease;
  background: linear-gradient(180deg, #0077b6 0%, #01479f 100%);
  border: none;
}

.contact-button:hover {
  background-color: #005f99;
}

/* Navbar, Footer & Sidebar */

header {
  background-color: #7c7b79;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  color: white;
  min-height: 60px;
  border: 2px solid #9d9c9b;
  border-radius: 30px;
  margin-bottom: 50px;
}
footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  color: white;
  min-height: 60px;
}

.navbar-left {
  margin-left: -14%;
  background-color: #5b5b5a;
  padding: 5px 20px;
  border-radius: 30px;
  font-family: Bad Script;
  border: 2px solid #737373;
}

.navbar-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  cursor: pointer;
  font-family: IBM Plex Mono;
}

.navbar-right {
  margin-right: -15%;
  padding: 7px 14px;
  border-radius: 30px;
  font-family: IBM Plex Mono;
  background: linear-gradient(45deg, #01479f, #0077b6);
  border: 2px solid #0077b6;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: -10%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(60, 60, 60, 0.99);
}

@media (max-width: 880px) {
  .navbar-left {
    margin-left: -10%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .sidebar a {
    text-decoration: underline;
    color: #808080;
  }
  .sidebar.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
    transition: 0.3s ease;
    left: 0;
  }
  .firstname {
    font-size: 3rem;
    font-family: Bad Script;
    color: #0077b6;
    margin-bottom: 7px;
  }
  .description {
    font-size: 0.75rem;
    font-family: IBM Plex Mono;
    color: white;
    margin-bottom: 12px;
    color: #808080;
  }
  .sidebar-footer {
    font-size: 0.75rem;
    font-family: IBM Plex Mono;
    color: white;
    color: #808080;
    position: fixed;
    bottom: 0;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    font-family: IBM Plex Mono;
    font-size: 1.25rem;
    color: white;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  .sidebar-item {
    border-top: 5px solid rgba(255, 255, 255, 0.1);
    border-top-width: 1px;
    width: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 20px;
    color: whitesmoke;
    font-size: 1.25rem;
  }
  .navbar-middle,
  .navbar-right {
    position: fixed;
    left: -150%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #505050;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navbar-middle.active,
  .navbar-right.active {
    left: 0;
  }
}
