* {
  box-sizing: border-box;
  background-color: #fffbf5;
}

body, html {
  padding: 0em 1.5em;
}

.heroSection {
  display: flex;
  margin: 0;
  padding: 5rem 0rem;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding-right: 7em;
  font-size: 0.8em;
  color: #606060;
}

.designation {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  margin: 10px 0; /* Add margin for spacing above and below */
  text-transform: uppercase;
  color: #404040;
}

.heading {
  font-family: "Bad Script", cursive;
  font-size: 3em;
  display: inline; /* Keeps the text inline */
  color: #000;
}

.headingColour {
  color: #0077b6;
  display: inline; /* Keeps the color styling within the heading */
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 20px 0; /* Add margin for spacing above and below */
}

.buttons {
  padding: 1.15em 0em;
  border-radius: 1000rem;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  transition: 0.3s ease;
  width: 10rem;
  text-align: center;
}

.buttons:hover {
  cursor: pointer;
  scale: 1.05;
}

.buttonContainer {
  padding-top: 1em; /* Space above the buttons */
  display: flex; /* Use flexbox for alignment */
  gap: 1em; /* Space between buttons */
}


.projectButton {
  border: solid #0077b6;
  color: #0077b6;
}

.profilePhoto {
  width: 25rem;
  aspect-ratio: 1/1;
  border-radius: 100rem; /* Use percentage for a perfect circle */
  object-fit: cover;
  border: 1px solid rgba(96, 96, 96, 0.5);
}

@media screen and (max-width: 880px) {
  .heroSection {
    flex-direction: column-reverse; /* Stack elements vertically */
    height: auto; /* Remove fixed height */
    text-align: center; /* Center text */
  }

  .text {
    padding-right: 0; /* Remove right padding */
  }

  .buttonContainer {
    padding-top: 2; /* Space above buttons */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
}

/* Media Query for Mobile Devices for hero section */
@media screen and (max-width: 768px) {
  .heroSection {
    flex-direction: column-reverse; /* Stack elements vertically */
    height: auto; /* Remove fixed height */
    text-align: center; /* Center text */
  }

  .text {
    padding-right: 0; /* Remove right padding */
  }

  /* Ensure profile photo is a perfect circle */
  .profilePhoto {
    width: 12rem; /* Set width */
    aspect-ratio: 1/1;
    border-radius: 50%; /* Create a circle */
    object-fit: cover; /* Ensure the image covers the container without stretching */
    display: block; /* Remove extra spacing */
    margin: 0 auto; /* Center the image */
  }

  .buttonContainer {
    padding-top: 2; /* Space above buttons */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.bad-script-header {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  color: #01479f;
  margin: 3rem 0 0;
  font-size: 2.5rem;
  line-height: 1.2;
  /* margin-inline-start: 150px; */
}

.inter-descrp {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #404040;
  font-size: 1rem;
  line-height: 1.4;
}

.main-container {
  max-width: 1520px;
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1.25rem;
  color: #01479f;
  margin-bottom: 15px;
}

.inter-para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: justify;
  color: #606060;
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 0.85em;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.buttons:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 5rem 8rem;
  }

  .bad-script-header {
    font-size: 2.5rem;
    text-align: left;
    /* margin-left: 20px; */
  }

  .inter-descrp {
    text-align: left;
    font-size: 0.8rem;
    /* margin-left: 20px; */
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .bad-script-header {
    font-size: 2.5rem;
  }

  .inter-para {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    padding: 0;
  }
}


.contact-list {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

.contact-list li {
    display: flex;
    align-items: center;
    padding: 1.25rem 0;
    border-bottom: 0.1rem dotted #ccc;
}

.contact-list li img {
    width: 2rem;
    aspect-ratio: 1/1;
    margin-right: 2rem;
}

.contact-info {
    flex-grow: 1;
}

.contact-info p {
  font-size: 0.8rem;
  color: #606060;
  line-height: 1;
  margin: 0;
  display: -webkit-box;
  line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
  
.contact-info a {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  color: #007acc;
  font-size: 0.65rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.contact-button {
  background: linear-gradient(180deg, #0077B6 0%, #01479F 100%);
    color: white;
    text-decoration: none;
    border: none;
}
